[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "==0.14.0"
starlette = "==0.16.0"
preview-generator = {extras = ["all"], version = "*"}
python-multipart = "==0.0.5"
aiofiles = "==0.7.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
